body {
    background-color: #E9ECEF;
}

.nav {
    padding-left: 20px;
    font-size: 30px;
}

.nav-link {
    color: grey;
} 

.text-center {
    margin-top: 50px;
    list-style-type: none;
    
}



p {
    font-size: 20px;
}